In [10]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [54]:
Xtrain = pd.read_csv('original-data/Xtrain.txt', sep=' ', index_col= 'Id', low_memory=False)
Xtest = pd.read_csv('original-data/Xtest.txt', sep=' ', index_col= 'Id', low_memory=False)

Ytrain = pd.read_csv('original-data/Ytrain.txt',delimiter=' ', index_col='Id')
Ytest = pd.read_csv('original-data/Ytest.txt')

In [3]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.base import BaseEstimator, TransformerMixin

In [4]:
class CustomImputer(BaseEstimator, TransformerMixin):
    '''
    Takes irregular missing values and replaces with np.nan
    '''
    def __init__(self, missing_values = None):
        self.missing_values = missing_values 
    def fit(self, X, y = None):
        return self
    
    def transform(self, X, y = None):
        print('\n transform() called in ',self)
        for missing_value in self.missing_values:
            X.replace(missing_value, np.nan, inplace=True)
        
        
        return X

In [5]:
from sklearn.model_selection import train_test_split
Xtrain,Xval,Ytrain,Yval = train_test_split(Xtrain,Ytrain,random_state = 1, test_size = 0.2)

In [6]:
X_pipeline_steps = [('custom imputer',CustomImputer(missing_values = ['?'])),
                      ('simple imputer',SimpleImputer(copy=False)),]
X_pipeline = Pipeline(steps = X_pipeline_steps)
Xtrain[:] = X_pipeline.fit_transform(Xtrain)
Xval[:] = X_pipeline.transform(Xval)

Y_pipeline_steps = [('simple imputer', SimpleImputer(copy=False))]
Y_pipeline = Pipeline(steps= Y_pipeline_steps)
Ytrain[:] = Y_pipeline.fit_transform(Ytrain)
Yval[:] = Y_pipeline.transform(Yval)

Xtest[:] = X_pipeline.transform(Xtest)

 transform() called in  CustomImputer(missing_values=['?'])

 transform() called in  CustomImputer(missing_values=['?'])

 transform() called in  CustomImputer(missing_values=['?'])

In [60]:
Xtrain.shape

(153287, 62)

In [110]:
rm_inx = []
for col in Xtest.columns:
    inx = (Xtest[col] == -9).values | (Xtest[col] == 7).values
    rm_inx.append(Xtest[inx].index.to_list())

In [112]:
temp = [item for sublist in rm_inx for item in sublist]
temp = list(set(temp))

In [113]:
temp.sort()

In [119]:
Xtest.describe()

,A01,A02,B01,B02,B03,B04,B05,B06,B07,B08,...,F06,F07,F08,F09,F10,F11,F12,G01,G02,G03
count,50000.000000,50000.000000,45084.000000,45055.000000,44987.000000,45111.000000,45065.000000,44948.000000,45107.000000,45217.000000,...,50000.000000,50000.000000,50000.000000,50000.0,50000.0,50000.0,50000.0,50000.0,50000.0,50000.0
mean,-0.027967,-0.033611,-0.031985,-0.037331,-0.038560,-0.029188,-0.034821,-0.028687,-0.029933,-0.359988,...,0.010980,0.007325,0.007372,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0
std,1.173366,1.192333,1.182300,1.187258,1.212267,1.188447,1.184468,1.184323,1.190854,2.047360,...,1.027613,1.025789,1.027510,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,...,-2.961370,-2.994660,-3.074730,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0
25%,-0.681823,-0.682084,-0.685489,-0.694818,-0.687272,-0.690814,-0.692081,-0.677786,-0.682569,-0.769993,...,-0.783032,-0.820579,-0.784718,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0
50%,-0.005100,-0.002967,-0.003861,-0.007801,-0.001151,0.001721,-0.002568,-0.007708,-0.003800,-0.061101,...,0.000727,0.001466,0.004298,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0
75%,0.679032,0.673307,0.673285,0.674512,0.666494,0.680274,0.675021,0.676562,0.674667,0.642938,...,0.796292,0.817922,0.790292,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0
max,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,...,7.000000,7.000000,7.000000,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0

In [116]:
Xtest.drop(labels=temp)

Empty DataFrame
Columns: [A01, A02, B01, B02, B03, B04, B05, B06, B07, B08, B09, B10, B11, B12, B13, B14, B15, B16, B17, B18, B19, B20, B21, B22, B23, B24, C01, C02, C03, D01, D02, D03, D04, D05, D06, D07, D08, D09, D10, D11, D12, D13, D14, D15, D16, D17, E01, F01, F02, F03, F04, F05, F06, F07, F08, F09, F10, F11, F12, G01, G02, G03]
Index: []

[0 rows x 62 columns]

In [69]:
corrs = Xtrain.corrwith(Ytrain.loc[:,"Z01"])
corrs.sort_values(ascending=False)[0:14].index

Index(['C03', 'D07', 'D11', 'D01', 'D08', 'D10', 'D03', 'D02', 'D09', 'D04',
       'C02', 'C01', 'D05', 'D06'],
      dtype='object')

### Tuning for Z01

## Generates Ytest submission on full data prediction

In [249]:
for index in Ytest.index: 
    response = Ytest.loc[index,'response']
    
    Ytest.loc[index,'Value'] = YTestArray.loc[index,response]

In [250]:
Ytest['Value'].to_csv('kaggle_submission_test.txt')